<div style="margin-bottom: 10px;">
	<div style="float: left; margin-right: 10px;"><%= image_tag @book.cover, width: '64px' %></div>
	<div><%= @book.author %>. <%= @book.title %><br /><i><%= @book.comment %></i><br /><b>User want: </b><%= @book.user.iwant %></td><td></div>
	<div class="clear"></div>
</div>
<table class="table">
  <tr>
    <th>User</th>
    <th>Body</th>
  </tr>

<% @messages.order('created_at DESC').each do |message| %>
  <tr>
    <td><i style="font-size: 9px;"><%= message.created_at.strftime('%e.%m.%y %k:%M')%></i> <%= message.user.name %></td>
    <td><%= message.body %></td>
  </tr>
<% end %>
</table>