<div class="grid_12">
	<% @entries.each do |e| %>
		<div class="gbentry">
				<img style="float:right" src="<%=e.image_link%>"/>
				<p class="btitle"><%=e.title%></p>
				<p class="bauthors"><%=e.authors%></p>
				<p class="gblink"><%=link_to 'View on Google Books', e.info_link %></p>
				<div class="gbform">
				<%= form_for @book do |f| %>
					<%= f.hidden_field :title, value: e.title %>
					<%= f.hidden_field :author, value: e.authors %>
					<%= f.hidden_field :cover, value: e.image_link %>
					<%= f.submit "Add to my books" if current_user %>
				<% end %>
				</div>
				<div class="clear"></div>
		</div>
	<% end %>
</div>
