<style>
.gbentry{padding: 3px; margin: 1em 0; background: #A0A0A0; border-radius:3px}
.btitle{font-weight: bold}
</style>
<div class="grid_12">
	<% @entries.each do |e| %>
		<div class="gbentry">
				<div style="float:right">
					<img src="<%=e.image_link%>"/>
				</div>
				<p class="btitle"><%=e.title%></p>
				<p class="bauthors"><%=e.authors%></p>
				<p><%=link_to 'view on google books', e.info_link %></p>
				<%= form_for @book do |f| %>
					<%= f.hidden_field :title, value: e.title %>
					<%= f.hidden_field :author, value: e.authors %>
					<%= f.hidden_field :cover, value: e.image_link %>
					<%= f.submit "Add book" if current_user %>
				<% end %>
				<div class="clear"></div>
		</div>
	<% end %>
</div>
