<div class="grid_6">
		<%= form_for :search, :url => search_path, :html => { :method => :get, :class => "" } do |f| %>
			<%= f.text_field :keywords, :placeholder => "Поиск книг" %>
			<%= f.submit 'Тыц!' %>
		<% end %>
</div>
<div class="grid_6">
	<%= form_tag ('/adding') do %>
	<%= text_field_tag :title %>
	<%= submit_tag 'Тыц!' %>
	<% end %>
</div>

<div class="grid_12">
	<% if current_user %>
		<%= form_for @user do |f| %>
			<%= f.text_field :iwant %>
			<%= f.submit %>
		<% end %>
	
	
		<h3><%= "My books: " if current_user.books.count > 0 %></h3>
		<table class="table table-hover">
		<thead>
			<tr><th>Cover</th><th>Name</th><th></th></tr>
		</thead>
		<tbody>
		<% current_user.books.each do |b| %>
			<tr>
				<td><%= image_tag b.cover, width: '32px' %></td><td><%= b.title %>
					<% if b.comment %>
					<div class="edit_comment"><b><%= b.comment %></b></div>
					<div class="form_comment" style="display: none;">
						<%= form_for b do |f| %>
							<%= f.text_field :comment %>
							<%= f.submit %>
						<% end %>
					</div>
					<% else %>
					<div class="form_comment">
						<%= form_for b do |f| %>
							<%= f.text_field :comment %>
							<%= f.submit %>
						<% end %>
					</div>
					<% end %>
				</td><td></td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<% end %>
</div>
