<div class="first">
<h2>I am looking for books</h2>
<%= form_for :search, :url => search_path, :html => { :method => :get, :class => "" } do |f| %>
	<%= f.text_field :keywords, class: 'search-input' %>
	<%= f.submit 'Look for book', class: 'search-submit' %>
<% end %>

</div>

<div class="second">
<h2>I want something like...</h2>
<% if current_user %>
<p><%= current_user.iwant%></p>
<%= form_for @user do |f| %>
	<%= f.text_field :iwant, class: 'search-input' %>
	<%= f.submit 'Update', class: 'search-submit' %>
<% end %>
<% end %>

<h2>I have books</h2>

<% if current_user %>

	<% current_user.books.each do |b| %>

		<div class="gbentry">
		<div style="float:left; padding-right: 1em"> 
		<img src="<%=b.cover%>" style="height:100px"/></div>
		<p class="btitle">
			<%=b.title%>
			<%= link_to b, method: :delete, confirm: "Book will be deleted. Are you sure?" do %>
				<i class="icon-remove icon-white"></i>
			<% end %>
		</p>
		<% if b.comment %>
			<div class="edit_comment"><%= b.comment %></div>
			<div class="form_comment" style="display: none;">
				<%= form_for b do |f| %>
					<%= f.text_field :comment %>
					<%= f.submit %>
				<% end %>
			</div>
		<% else %>
			<div class="form_comment">
			<%= form_for b do |f| %>
				<%= f.text_field :comment %>
				<%= f.submit %>
			<% end %>
			</div>
		<% end %>
		
		<div class="clear"></div>
		</div>
	<% end %>


	<%= form_tag ('/adding') do %>
		<%= text_field_tag :title, '', class: 'search-input' %>
		<%= submit_tag 'Pick up book', class: 'search-submit' %>
	<% end %>
<% end %>

</div>

<div class="clear"></div>