<!DOCTYPE html>
<html>
<head>
  <title>Bookforbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to "Book for book", root_url, class:'logo' %></h1>

<p class="signin">
<% if current_user %>
	Signed in as <%= current_user.email %><span class="quad">&nbsp;&nbsp;<%= link_to "Sign out", signout_path %>
<% else %>
	<%= link_to 'Sign in with Google', 'https://bookforbook.herokuapp.com/auth/google_oauth2' %>
<% end %>
</p>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<%= yield %>
</body>
</html>
